$color-dark: #11161c;
$color-white: #f3f7fc;
$color-accent1: #ffae00;
$color-accent1--dark: #cc8b00;
$color-accent1--light: #ffe5ac;
$color-accent2: #8fb4a7;
$color-accent2--dark: #4d627c;
$color-accent2--light: #f5f7f9;
$color-accent2--lighter: rgb(34, 34, 34);
$color-grey: #f3f3f3;
$color-grey--dark: #b1b1b1;
